.pagination {
  color: crimson;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.5em;
}

.pagination ul {
  list-style: none;
  display: flex;
  border: 1px solid crimson;
  font-size: 1.3em;
}

li {
  transition: all 0.3s;
  padding: 0.5rem;
}

nav button {
  color: inherit;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 2rem;
}

.active {
  color: #282c34;
  background-color: crimson;
}
